body{
    font-family: Arial;
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


form{
    min-width: 300px;
    max-width: 350px;
    border: 1px solid #eee;
    border-radius: 5px;
    gap: 10px;
    
    
}

.form-group{
    width: 100%;
    
}
.form-group input{
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px 20px;
    display: flex;
    align-items: baseline;

}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: baseline;

    
}
button :hover{
    color: aqua;
    cursor: pointer;
}
