body{
    font-family: Arial;
    font-size: 14px;
    background-color: #e1e1e1;
    margin: 20% 40%;
}


form{
    border-radius: 10px;
    background-color: #666;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media screen and (width >= 600px) {
    body{
        margin: 10px 20px;
    }

}


.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    text-align: left;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
}
input{
    cursor: text;
    color: black;
    padding: 7px 14px;
    border: 1px solid #999;
    outline: none;
    border-radius: 15px;
}
button{
    background-color:blue;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
}
