 {% include 'base.html' %}
    {% block content %}
         <form action="{{url_for('forgot_password') }}" method="post">
            <h2>Forget Password</h2>
             {% if data.message  %}
                <p class="msg {{data.type}}">{{ data.message }}</p>
            {% endif %}
            <div class="form-group">
                <label for="username">Enter username</label>
                <input type="text" name="username" placeholder="Enter username" id="username" required>
            </div>
            <div class="form-group">
                <button type="forget password">Continue</button>
            </div>
             <div class="form-group">
                <a href="{{ url_for('login')}}" > Back to login</a>
             </div>
    {% endblock %}